# Python
__pycache__/
*.pyc
instance/
.env

# SQLite and JSONL database
*.db
*.sqlite3
*.jsonl

# node modules
node_modules/
npm-debug.log*

# Build/artifacts
build/
dist/
*.egg-info/

# React build artifacts
aircraft-app-frontend/build/
aircraft-app-frontend/.env

# IDE/editor files
.vscode/
.idea/
.DS_Store
temp/

# Docker
docker-compose.override.yml

# Training data
data/

# Virtual environments
venv/
.venv/

# Local Reports
*report.txt
