# Python
__pycache__/
*.pyc
instance/
.env

# SQLite and JSONL database
*.db
*.sqlite3
*.jsonl

# node modules
node_modules/
npm-debug.log*

# Build/artifacts
build/
dist/
*.egg-info/

# React build artifacts
aircraft-app-frontend/build/
aircraft-app-frontend/README.md
aircraft-app-frontend/package.json
aircraft-app-frontend/package-lock.json
aircraft-app-frontend/yarn.lock
aircraft-app-frontend/yarn-error.log
aircraft-app-frontend/.env

# IDE/editor files
.vscode/
.idea/
.DS_Store
temp/
