# Python
__pycache__/
*.pyc
instance/
.env

# SQLite and JSONL database
*.db
*.sqlite3
*.jsonl

# node modules
node_modules/
npm-debug.log*

# Build/artifacts
build/
dist/
*.egg-info/

# React build artifacts
sfo-dashboard-frontend/build/
sfo-dashboard-frontend/README.md
sfo-dashboard-frontend/package.json
sfo-dashboard-frontend/package-lock.json
sfo-dashboard-frontend/yarn.lock
sfo-dashboard-frontend/yarn-error.log
sfo-dashboard-frontend/.env

# IDE/editor files
.vscode/
.idea/
.DS_Store
temp/
